<p class="row span8 lead">You're all set!</p>
<p class="row span3 lead">Tweet an image to @InLoveBot any time. She'll <a href="https://twitter.com/cuberick/status/316082825751302144/photo/1" alt="example image">scribble</a> the appropriate song lyrics on your image and add it to your timeline.</p>
