<p class="row span8 lead">Your images. Robert Smith's rules.</p>
<blockquote class="row span8">
  <p>
    Monday you can fall apart<br />
    Tuesday, Wednesday break my heart<br />
    Thursday doesn't even start<br />
    It's Friday I'm in love<br />
    Saturday wait…<br />
    Sunday always comes too late<br />
  </p>
  <small>Robert Smith <cite title="Source Title">Friday I'm in Love</cite></small>
</blockquote>
<% if @auth_failed %>
<p class="row span3 alert alert-error">
  Your login attempt failed.
</p>
<% end %>
<p class="row span8 lead"><%= link_to "Sign in with Twitter", "/auth/twitter" %> to get started.</p>
