<header class="row span8">
  <span class="day <%=today.downcase%>"><%=today_abbrev%></span><span class="site">dayinlove.com</span>
</header>
<h3 class="row span8">Cure boring photos</h3>
<a href="" class="row span8"><img src="assets/sign-in-with-twitter-link.png"></a>
<blockquote class="row span8">
  <p>
    Monday you can fall apart<br />
    Tuesday, Wednesday break my heart<br />
    Thursday doesn't even start<br />
    It's Friday I'm in love<br />
    Saturday wait…<br />
    Sunday always comes too late<br />
  </p>
  <small>Robert Smith <cite title="Source Title">Friday I'm in Love</cite></small>
</blockquote>